* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.toolbox-cont {
    height: 5rem;
    background-color: rgb(106, 78, 170);
    display: flex;
    align-items: center;
}

.toolbox-cont > * {
    margin-left: 4rem;
    border-radius: 2px;
}

.toolbox-priority-cont {
    height: 3.5rem;
    width: 16rem;
    background-color: darkslategray;
    display: flex;
    align-items: center;
}

.action-btn-cont {
    height: 3.5rem;
    width: 8rem;
    background-color: darkslategray;
    display: flex;
    
}

.action-btn-cont > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 2rem;
    color: aliceblue;
}

.color {
    height: 1.5rem;
    width: 3rem;
    margin: auto;
    background-color: lightsalmon;
}

.lightpink {
    background-color: lightpink;
}

.lightblue {
    background-color: lightblue;
}

.lightgreen {
    background-color: lightgreen;
}

.black {
    background-color: black;
}

.action-btn-cont > *:hover {
    background-color: cadetblue;
}

.modal-cont {
    height: 50vh;
    width: 45vw;
    background-color: brown;
    position: absolute;
    top: calc((100vh - 50vh) / 2);
    left: calc((100vw - 45vw) / 2);
    display: none;
}

.textarea-cont{
    height: 100%;
    width: 75%;
    background-color: rgb(208, 224, 230);
    border: none;
    outline: none;
    resize: none;
    padding: 2rem;
    font-size: 1.5rem;
}

.priority-colors-cont {
    height: 100%;
    width:25%;
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.priority-color {
    height: 3rem;
    width: 55%;
}

.border {
    border: 3px solid rgb(213, 229, 233);
}

.ticket-cont {
    height: 14rem;
    width: 17rem;
    background-color: lightgray;
}

.ticket-color {
    height: 1rem;
}

.ticket-id {
    height: 2rem;
    padding: 0.4rem;
}

.task-area {
    height: calc(100% - 2rem - 1rem - 2rem);
    padding: 0.4rem;
    outline: none;
}

.ticket-lock{
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    font-size: 1.5rem;
    color: lightslategrey;
}

.main-cont {
    display: flex;
    padding: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}