.container{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.simulationArea{
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    margin-top: 10px;
}

.controllers{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    background-color: rgb(142, 78, 203);
}

.buttons{
    display: flex;
}

.box{
    position: absolute;
    height: 100px;
    width: 90%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-timing-function: linear;
}

.doors{
    display: flex;
    width: 90%;
    height: 90%;
    background-color: aliceblue;
    align-items: center;
    justify-content: space-between;
}

.door-1{
    display: flex;
    width: 50%;
    height: 100%;
    border-right: 2px solid black;
    transition: 2.5s;
    background-color: rgb(45, 113, 173);
}
.door-2{
    display: flex;
    width: 50%;
    height: 100%;
    border-left: 2px solid black;
    transition: 2.5s;
    background-color: rgb(45, 113, 173);
}

.floors{
    position: relative;
    width: 100px;
    background-color: rgb(207, 195, 195);
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.floor-level{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

p{
    margin: 0px;
}